/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp A &kp B &kp C
                &kp D &kp E &kp F
                &kp G &kp H &kp I
                &kp J &kp K &kp L
            >;
        };

        ble_reset_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_CLR
                &bt BT_SEL 1 &bt BT_CLR
                &bt BT_SEL 2 &bt BT_CLR
                &bt BT_SEL 3 &bt BT_CLR
                &bt BT_SEL 4 &bt BT_CLR
            >;
        };
    };
};
