#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 4x3 MacroPad layout, adjust keys as needed
            bindings = <
                A B C
                D E F
                G H I
                J K L
            >;
        };
    };
};
